In [1]:
# Imports for scraping and storing as a data frame
import urllib2
import requests
import pandas as pd
import numpy as np

In [2]:
"""
A function that creates a list of all the years to scrape 
from dougstats.com.
"""
def get_years(start=99, stop=16):
    years = []
    end = (start + 1) % 100
    
    print "Filling years:"
    while start != stop:
        interval = time_interval(start, end)
        print interval
        years.append(interval)
        start = end
        end = (end + 1) % 100

    print ""
    return years

"""
Helper function to output the correct time interval
given a start time and and end time.
"""
def time_interval(start, end):
    if start == 99:
        return "99-00"
    elif start == 0:
        return "00-01"
    else:
        s, e = str(start), str(end)
        if len(s) == 1:
            s = "0" + s
        if len(e) == 1:
            e = "0" + e
        return s + "-" + e

"""
A function that takes the dougstats data and builds a pandas data frame
from it.
"""
def build_df(data):
    header = None
    lines = []
    for line in data.readlines():
        if not header:
            header = line.split() + ["YEAR"]
        else:
            stats = line.split()
            name = stats[0].split(",")
            try:
                stats[0] = str.upper(name[0] + ", " + name[1][0:3])
            except:
                stats[0] = str.upper(name[0])
            lines.append(stats + [year])
    return pd.DataFrame(lines, columns = header)

In [3]:
years = get_years()
season_dfs = [] # A list of data frames for each year

for year in years:
    url = "http://www.dougstats.com/{}RD.txt".format(year)
    data = urllib2.urlopen(url)
    season_dfs.append(build_df(data))

df = pd.concat(season_dfs) # Join all the data frames together

Filling years:
99-00
00-01
01-02
02-03
03-04
04-05
05-06
06-07
07-08
08-09
09-10
10-11
11-12
12-13
13-14
14-15
15-16

In [4]:
# Now we can take a look at our data and see what needs to be cleaned.
df

,+/-,3A,3M,AS,BK,DQ,EJ,FF,FGA,FGM,...,PS,PTS,Player,ST,Sta,TC,TO,TR,Team,YEAR
0,NaN,23,3,98,28,1,0,0,646,274,...,SG,697,"ABDUL-WAHAD, TAR",59,56,0,106,291,den,99-00
1,NaN,96,29,271,87,3,0,0,1277,594,...,SF,1663,"ABDUR-RAHIM, SHA",89,82,10,249,825,van,99-00
2,NaN,35,9,58,2,0,0,0,98,28,...,PG,82,"ALEXANDER, COR",24,2,0,28,42,den,99-00
3,NaN,407,172,308,19,1,0,0,1411,642,...,SG,1809,"ALLEN, RAY",110,82,2,183,359,mil,99-00
4,NaN,14,3,70,0,0,0,0,95,27,...,PG,60,"ALSTON, RAF",12,0,0,29,23,mil,99-00
5,NaN,6,1,95,37,1,0,0,700,306,...,C,836,"AMAECHI, JOH",35,53,0,139,266,orl,99-00
6,NaN,178,55,220,11,2,0,0,860,377,...,SG,1080,"ANDERSON, DER",90,58,0,167,258,lac,99-00
7,NaN,220,85,420,8,4,0,0,986,434,...,PG,1149,"ANDERSON, KEN",139,82,11,130,225,bos,99-00
8,NaN,397,132,123,16,0,0,0,782,306,...,SG,781,"ANDERSON, NIC",94,72,5,95,339,sac,99-00
9,NaN,225,79,239,32,0,0,0,778,368,...,SG,1009,"ANDERSON, SHA",96,82,0,194,384,hou,99-00
10,NaN,6,1,65,25,4,0,1,364,161,...,C,439,"ANSTEY, CHR",29,11,0,80,280,chi,99-00
11,NaN,233,88,208,9,0,0,1,416,169,...,PG,514,"ANTHONY, GRE",59,3,4,85,133,por,99-00
12,NaN,29,13,78,1,0,0,0,186,83,...,PG,201,"ARMSTRONG, B.J",7,18,0,40,47,chi,99-00
13,NaN,403,137,501,9,0,1,0,1119,484,...,PG,1330,"ARMSTRONG, DAR",169,82,5,248,270,orl,99-00
14,NaN,191,60,202,39,0,0,0,759,309,...,SF,866,"ARTEST, RON",119,63,0,166,308,chi,99-00
15,NaN,163,57,306,3,1,0,0,741,314,...,PG,782,"ATKINS, CHU",52,0,0,142,126,orl,99-00
16,NaN,2,0,53,11,0,0,1,175,83,...,SG,203,"AUGMON, STA",27,0,0,38,116,por,99-00
17,NaN,4,1,74,38,0,0,1,352,151,...,C,397,"AUSTIN, ISA",17,23,2,107,282,was,99-00
18,NaN,0,0,11,15,1,0,0,96,29,...,PF,81,"AVENT, ANT",16,3,0,24,74,lac,99-00
19,NaN,63,18,88,2,0,0,0,181,56,...,PG,154,"AVERY, WIL",14,1,0,42,40,min,99-00
20,NaN,10,2,30,4,0,0,0,140,58,...,SG,163,"BAILEY, TOB",13,2,0,24,72,pho,99-00
21,NaN,8,2,148,66,6,1,0,1129,514,...,PF,1311,"BAKER, VIN",47,75,7,213,605,sea,99-00
22,NaN,26,6,63,4,0,1,0,222,106,...,PF,289,"BARKLEY, CHA",14,18,2,44,209,hou,99-00
23,NaN,144,59,133,4,0,0,0,435,196,...,PG,517,"BARROS, DAN",31,0,0,66,99,bos,99-00
24,NaN,399,164,291,31,4,1,2,707,327,...,SG,945,"BARRY, BRE",103,74,4,142,372,sea,99-00
25,NaN,18,7,33,0,0,0,0,33,15,...,SG,41,"BARRY, DRE",2,0,0,13,12,atl,99-00
26,NaN,154,66,150,7,1,1,0,346,161,...,SF,495,"BARRY, JON",75,1,6,85,159,sac,99-00
27,NaN,8,1,63,70,4,0,2,459,219,...,PF,541,"BATTIE, TON",47,4,2,67,410,bos,99-00
28,NaN,12,2,3,5,0,0,0,70,23,...,PF,64,"BENDER, JON",1,1,0,7,21,ind,99-00
29,NaN,0,0,0,1,0,0,0,3,1,...,C,2,"BENJAMIN, BEN",0,0,0,0,1,cle,99-00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,100,327,115,790,59,0,0,0,1349,572,...,PG,1531,"WALL, JOH",145,77,7,318,378,was,15-16
447,-114,70,28,44,16,0,0,0,441,221,...,SF,515,"WARREN, T.J",37,4,0,32,147,pho,15-16
448,-51,48,14,89,5,0,0,0,137,47,...,PG,142,"WATSON, C.J",19,2,0,25,67,orl,15-16
449,-67,5,0,21,3,0,0,0,39,14,...,PG,31,"WEBER, BRI",9,4,0,9,25,mia,15-16
450,-98,42,15,49,1,0,0,0,111,42,...,SG,107,"WEEMS, SON",10,0,0,41,53,phi,15-16
451,334,7,3,143,55,1,0,0,448,244,...,PF,554,"WEST, DAV",44,19,2,67,309,san,15-16
452,633,341,101,836,20,2,0,0,1444,656,...,PG,1878,"WESTBROOK, RUS",163,80,6,342,628,okl,15-16
453,97,0,0,30,269,2,0,0,681,412,...,C,1038,"WHITESIDE, HAS",44,43,2,137,865,mia,15-16
454,-6,2,0,3,1,0,0,0,11,5,...,PF,11,"WHITTINGTON, SHA",1,0,0,5,12,ind,15-16
455,-66,190,57,164,46,1,0,0,1294,594,...,SF,1675,"WIGGINS, AND",78,81,1,182,294,min,15-16
456,33,23,9,10,2,0,0,0,66,26,...,SG,70,"WILCOX, C.J",10,0,0,2,12,lac,15-16
457,1,0,0,5,5,0,0,0,24,10,...,C,29,"WILLIAMS, ALA",4,0,0,6,38,pho,15-16
458,5,282,97,378,14,0,0,0,775,321,...,PG,918,"WILLIAMS, DER",61,63,0,150,191,dal,15-16
459,-204,150,44,75,9,0,0,0,565,254,...,PF,746,"WILLIAMS, DER",30,9,0,61,296,nyk,15-16
460,-3,4,1,4,0,0,0,0,10,2,...,SG,8,"WILLIAMS, ELL",1,0,0,1,4,mem,15-16
461,-399,321,110,167,19,1,0,0,695,283,...,SG,1028,"WILLIAMS, LOU",62,35,1,107,170,lal,15-16
462,248,379,152,110,77,1,0,0,747,338,...,PF,948,"WILLIAMS, MAR",58,81,0,62,520,cha,15-16
463,-58,102,36,98,5,0,0,0,302,132,...,PG,338,"WILLIAMS, MO",14,14,1,57,72,cle,15-16
464,110,116,32,117,26,0,0,0,463,196,...,SF,504,"WINSLOW, JUS",68,8,0,95,403,mia,15-16
465,57,2,0,19,53,1,0,0,161,87,...,C,217,"WITHEY, JEF",21,10,0,28,173,uta,15-16
466,-50,11,4,3,7,0,0,0,53,22,...,PF,61,"WOOD, CHR",5,0,0,2,38,phi,15-16
467,-57,0,0,6,15,0,0,0,52,35,...,PF,83,"WRIGHT, BRA",5,2,0,10,43,mem,15-16
468,15,13,5,31,3,0,0,0,81,36,...,PG,103,"WRIGHT, DEL",8,1,0,16,37,tor,15-16
469,-68,17,3,20,0,0,0,0,65,22,...,SG,67,"WROTEN, TON",3,3,0,29,21,phi,15-16
470,-27,26,6,9,1,0,0,0,36,11,...,SG,29,"YOUNG, JAM",6,0,0,5,26,bos,15-16
471,-33,46,10,65,0,0,0,0,170,62,...,PG,154,"YOUNG, JOS",15,0,0,33,50,ind,15-16
472,-201,237,77,34,7,0,0,0,372,126,...,SF,392,"YOUNG, NIC",23,2,1,30,97,lal,15-16
473,-228,30,7,135,37,3,0,0,963,495,...,SF,1102,"YOUNG, THA",112,73,1,136,661,bro,15-16
474,161,10,1,71,63,4,0,0,437,231,...,PF,638,"ZELLER, COD",57,60,0,68,456,cha,15-16
475,-62,0,0,29,22,1,0,0,290,138,...,C,364,"ZELLER, TYL",10,3,0,46,178,bos,15-16

In [5]:
from bs4 import BeautifulSoup

all_star_players = []

print "Scraping all star data from basketball.realgm.com"
for year in range(2000, 2017):
    url = "http://basketball.realgm.com/nba/allstar/game/rosters/{}".format(str(year))
    r = requests.get(url)
    data = r.text
    soup = BeautifulSoup(data, "lxml")
    tables = soup.find_all("table")
    print year

    for table in tables:
        rows = table.find_all('tr')[1:]
        for row in rows:
            cols = row.find_all('td')
            name = cols[0].get_text().split()
            name = name[1] + ", " + name[0][0:3]
            start = str((year - 1) % 100)
            end = str(year % 100)
            
            if len(start) == 1:
                start = "0" + start
            
            if len(end) == 1:
                end = "0" + end
                
            yr = start + "-" + end
            all_star_players.append([str.upper(str(name)), yr, 1])

print ""
all_star_players = pd.DataFrame(all_star_players, columns = ["Player", "YEAR", "AS?"])

Scraping all star data from basketball.realgm.com
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [6]:
all_star_players

              Player   YEAR  AS?
0        BRYANT, KOB  99-00    1
1        DUNCAN, TIM  99-00    1
2       GARNETT, KEV  99-00    1
3          KIDD, JAS  99-00    1
4        O'NEAL, SHA  99-00    1
5        MALONE, KAR  99-00    1
6        FINLEY, MIC  99-00    1
7        PAYTON, GAR  99-00    1
8       WALLACE, RAS  99-00    1
9        WEBBER, CHR  99-00    1
10     ROBINSON, DAV  99-00    1
11     STOCKTON, JOH  99-00    1
12       CARTER, VIN  99-00    1
13      IVERSON, ALL  99-00    1
14     MOURNING, ALO  99-00    1
15        JONES, EDD  99-00    1
16         HILL, GRA  99-00    1
17        ALLEN, RAY  99-00    1
18     ROBINSON, GLE  99-00    1
19       MILLER, REG  99-00    1
20   STACKHOUSE, JER  99-00    1
21      MUTOMBO, DIK  99-00    1
22      HOUSTON, ALL  99-00    1
23        DAVIS, DAL  99-00    1
24      IVERSON, ALL  00-01    1
25      MCGRADY, TRA  00-01    1
26       CARTER, VIN  00-01    1
27     MOURNING, ALO  00-01    1
28         HILL, GRA  00-01    1
29        ALLEN, RAY  00-01    1
..               ...    ...  ...
409        PAUL, CHR  14-15    1
410     COUSINS, DEM  14-15    1
411     LILLARD, DAM  14-15    1
412    NOWITZKI, DIR  14-15    1
413       JAMES, LEB  15-16    1
414        WADE, DWY  15-16    1
415      GEORGE, PAU  15-16    1
416     ANTHONY, CAR  15-16    1
417       LOWRY, KYL  15-16    1
418      BUTLER, JIM  15-16    1
419     DEROZAN, DEM  15-16    1
420     MILLSAP, PAU  15-16    1
421    DRUMMOND, AND  15-16    1
422        BOSH, CHR  15-16    1
423        WALL, JOH  15-16    1
424      THOMAS, ISA  15-16    1
425       GASOL, PAU  15-16    1
426      HORFORD, AL  15-16    1
427      BRYANT, KOB  15-16    1
428      DURANT, KEV  15-16    1
429     LEONARD, KAW  15-16    1
430       CURRY, STE  15-16    1
431   WESTBROOK, RUS  15-16    1
432       GREEN, DRA  15-16    1
433      HARDEN, JAM  15-16    1
434        PAUL, CHR  15-16    1
435    THOMPSON, KLA  15-16    1
436       DAVIS, ANT  15-16    1
437     COUSINS, DEM  15-16    1
438    ALDRIDGE, LAM  15-16    1

[439 rows x 3 columns]

In [7]:
master_df = pd.merge(df, all_star_players, how='left', on=["Player", "YEAR"])

In [8]:
master_df.columns

Index([u'+/-', u'3A', u'3M', u'AS', u'BK', u'DQ', u'EJ', u'FF', u'FGA', u'FGM',
       u'FTA', u'FTM', u'GP', u'Min', u'OR', u'PF', u'PS', u'PTS', u'Player',
       u'ST', u'Sta', u'TC', u'TO', u'TR', u'Team', u'YEAR', u'AS?'],
      dtype='object')

In [9]:
team_dfs = []
print "Scraping team data from dougstats.com:"
for year in years:
    print year
    url = "http://www.dougstats.com/{}RD.Team.txt".format(year)
    data = urllib2.urlopen(url)
    team_dfs.append(build_df(data))

records_df = pd.concat(team_dfs) # Join all the data frames together

Scraping team data from dougstats.com:
99-00
00-01
01-02
02-03
03-04
04-05
05-06
06-07
07-08
08-09
09-10
10-11
11-12
12-13
13-14
14-15
15-16

In [10]:
records_df["Team"] = records_df["team"].map(lambda x: str.lower(x[0:3]))
records_df["win_pct"] = pd.to_numeric(pd.to_numeric(records_df["won"]) / 82.0)
records_df = records_df[["Team", "win_pct", "YEAR"]]
records_df

   Team   win_pct   YEAR
0   atl  0.341463  99-00
1   bos  0.426829  99-00
2   cha  0.597561  99-00
3   chi  0.207317  99-00
4   cle  0.390244  99-00
5   dal  0.487805  99-00
6   den  0.426829  99-00
7   det  0.512195  99-00
8   gsw  0.231707  99-00
9   hou  0.414634  99-00
10  ind  0.682927  99-00
11  lac  0.182927  99-00
12  lal  0.817073  99-00
13  mia  0.634146  99-00
14  mil  0.512195  99-00
15  min  0.609756  99-00
16  njn  0.378049  99-00
17  nyk  0.609756  99-00
18  orl  0.500000  99-00
19  phi  0.597561  99-00
20  pho  0.646341  99-00
21  por  0.719512  99-00
22  sac  0.536585  99-00
23  san  0.646341  99-00
24  sea  0.548780  99-00
25  tor  0.548780  99-00
26  uta  0.670732  99-00
27  van  0.268293  99-00
28  was  0.353659  99-00
0   atl  0.304878  00-01
..  ...       ...    ...
0   atl  0.585366  15-16
1   bos  0.585366  15-16
2   cha  0.585366  15-16
3   chi  0.512195  15-16
4   cle  0.695122  15-16
5   dal  0.512195  15-16
6   den  0.402439  15-16
7   det  0.536585  15-16
8   gsw  0.890244  15-16
9   hou  0.500000  15-16
10  ind  0.548780  15-16
11  lac  0.646341  15-16
12  lal  0.207317  15-16
13  mem  0.512195  15-16
14  mia  0.585366  15-16
15  mil  0.402439  15-16
16  min  0.353659  15-16
17  bro  0.256098  15-16
18  nor  0.365854  15-16
19  nyk  0.390244  15-16
20  orl  0.426829  15-16
21  phi  0.121951  15-16
22  pho  0.280488  15-16
23  por  0.536585  15-16
24  sac  0.402439  15-16
25  san  0.817073  15-16
26  okl  0.670732  15-16
27  tor  0.682927  15-16
28  uta  0.487805  15-16
29  was  0.500000  15-16

[505 rows x 3 columns]

In [11]:
master_df = pd.merge(master_df, records_df, how='left', on=["Team", "YEAR"])

In [12]:
master_df['AS?'] = master_df['AS?'].fillna(0)
del master_df['+/-']

In [13]:
good_columns = ['GP', '3A', '3M', 'AS', 'BK', 'FGA', 'FGM', 'FTM', 'FTA', 'OR', 'PF', 'PTS', 'ST', 'Sta', 'TO', 'TR']
master_df[good_columns] = master_df[good_columns].apply(pd.to_numeric)
good_columns.append('win_pct')

In [14]:
master_df['3A'] /= master_df['GP']
master_df['3M'] /= master_df['GP']
master_df['AS'] /= master_df['GP']
master_df['BK'] /= master_df['GP']
master_df['FGA'] /= master_df['GP']
master_df['FGM'] /= master_df['GP']
master_df['FTM'] /= master_df['GP']
master_df['FTA'] /= master_df['GP']
master_df['OR'] /= master_df['GP']
master_df['PF'] /= master_df['GP']
master_df['PTS'] /= master_df['GP']
master_df['ST'] /= master_df['GP']
master_df['Sta'] /= master_df['GP']
master_df['TO'] /= master_df['GP']
master_df['TR'] /= master_df['GP']

In [15]:
master_df['win_pct'] = np.nan_to_num(master_df['win_pct'])

In [16]:
target = "AS?"

In [17]:
from sklearn.cross_validation import train_test_split

/Users/Arvind/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [18]:
train = master_df.sample(frac=0.8, random_state=1)
test = master_df.loc[~master_df.index.isin(train.index)]

In [19]:
print(train.shape)
print(test.shape)

(6204, 27)
(1551, 27)

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC

model = LinearRegression()
# Fit the model to the training data.
model.fit(train[good_columns], train[target])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
# Import the scikit-learn function to compute error.
from sklearn.metrics import mean_squared_error

# Generate our predictions for the test set.
predictions = model.predict(test[good_columns])

# Compute error between our test predictions and the actual values.
error = mean_squared_error(predictions, test[target])

print "ACCURACY: " + str(1 - error)

ACCURACY: 0.96835814773

In [25]:
url = "http://www.dougstats.com/{}RD.txt".format("16-17")
data = urllib2.urlopen(url)
new_df = build_df(data)

url = "http://www.dougstats.com/{}RD.Team.txt".format("16-17")
data = urllib2.urlopen(url)
team_df = build_df(data)
team_df["Team"] = team_df["team"].map(lambda x: str.lower(x[0:3]))

team_df["win_pct"] = pd.to_numeric(pd.to_numeric(team_df["won"]) / 82.0)

new_df = pd.merge(new_df, team_df, how='left', on=["Team", "YEAR"])
arr = model.predict(new_df[good_columns])
top10 = arr.argsort()[-30:][::-1]

for i in top10:
    print new_df.ix[i]["Player"]

DAVIS, ANT
WESTBROOK, RUS
HARDEN, JAM
DURANT, KEV
BUTLER, JIM
ANTETOKOUNMPO, GI
COUSINS, DEM
DEROZAN, DEM
JAMES, LEB
THOMAS, ISA
LEONARD, KAW
LILLARD, DAM
WALL, JOH
GOBERT, RUD
WILLIAMS, LOU
GASOL, MAR
HAYWARD, GOR
WALKER, KEM
WHITESIDE, HAS
JORDAN, DEA
CURRY, STE
TOWNS, KAR
LOWRY, KYL
TEAGUE, JEF
LOVE, KEV
BLEDSOE, ERI
TURNER, MYL
GRIFFIN, BLA
PAUL, CHR
GALLINARI, DAN